.welcome-text{
    font-weight: 200;
    font-size: 7rem;
    margin-top: 50px;
}

#carosel-container{
    width: 100%;
    background-color: #ebebeb;
    
}

.dual-container{
    margin-top: 25px;
    text-align: center;
    background-color: #ebebeb;

}

.triple-image{
    width: 90%;
    height: 90%;
}

.footer-container{
    background-color: #ebebeb;
}

.logo{
    margin-top: 8px;
    margin-right: 2px;
    float: left;
}

.navbar-brand{
    margin-top: 12px;
}

h5 {
    font-weight: 200;

}

.form-body{
    font-weight: 200;
}

.pre-form-text{
    font-size: 4rem;
    font-weight: 200;
    padding-top: 10px;
}

.contact-text{
    margin-bottom: 100px;
}





@media (max-width: 575px){
    .form-body{
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (min-width: 576px){
    .form-body{
        margin-left: 80px;
        margin-right: 80px;
    }
}

@media (min-width: 768px){
    .form-body{
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media (min-width: 992px){
    .form-body{
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media (min-width: 1200px){
    .form-body{
        margin-left: 350px;
        margin-right: 350px;
    }
}
